/** Shopify CDN: Minification failed

Line 114:2 Comments in CSS use "/* ... */" instead of "//"
Line 207:3 Expected identifier but found whitespace
Line 212:3 Expected identifier but found whitespace
Line 1281:23 Cannot use type selector "gt" directly after nesting selector "&"
Line 1298:23 Cannot use type selector "gt" directly after nesting selector "&"
Line 1304:23 Cannot use type selector "gt" directly after nesting selector "&"
Line 1474:17 Unexpected bad string token
Line 1474:23 Unterminated string token
Line 1475:0 Expected "]" to go with "["
Line 1475:12 Unterminated string token
... and 3 more hidden warnings

**/
/* migracion estilos del footer */

.site-footer {
  width: 100%;
  position: relative;
  z-index: 0 !important;
}
@media only screen and (min-width: 768px) {
  .site-footer {
    z-index: 0;
  }
}

.heading-message {
  background-image: none !important;
  background-color: #5b5b5b !important;
}
.heading-message p {
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-transform: initial;
}
.heading-message p a {
  color: #fff !important;
  text-decoration: underline !important;
  text-decoration-color: black;
}
.heading-message p strong {
  color: #fff;
}

.heading-message--begin {
  display: none;
  background-position-y: 49px;
  padding-top: 5px;
  padding-top: to-rem(5);
}
@media only screen and (min-width: 768px) {
  .heading-message--begin {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .heading-message--end {
    display: none;
  }
}

.heading-message {
  font-size: 14px;
  font-size: to-rem(14);
  font-weight: bold;
  letter-spacing: 1px;
  letter-spacing: to-rem(1);
  line-height: 22px;
  line-height: to-rem(22);
  text-transform: uppercase;
  background-color: #67dee4;
  background-image: radial-gradient(transparent, rgba(91, 91, 91, 0.4));
  background-position-y: 60px;
  background-size: 100% 100px;
  color: #fff;
  display: block;
  padding-top: 9px;
  padding-top: to-rem(9);
  padding-bottom: 5px;
  padding-bottom: to-rem(5);
  text-align: center;
}
.heading-message .desktop-paragraph p {
  display: none;
}
.heading-message .mobile-paragraph p {
  display: block;
  font-size: 3.5vw;
}
@media only screen and (min-width: 768px) {
  .heading-message {
    font-size: 12px;
    font-size: to-rem(12);
    letter-spacing: 1.34px;
    letter-spacing: to-rem(1.34);
    margin-top: 0;
  }
  .heading-message .desktop-paragraph p {
    display: block;
  }
  .heading-message .mobile-paragraph p {
    display: none;
  }
}

.footer-link-cuadros:hover {
  text-decoration: none;
}

.elementos-footer-centro-1 {
  //Tablet footer
  width: auto;
  height: 106px;
  background: #404b5a;
  text-align: center;
  padding-top: 18px;
}

.visita-footer {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  .visita-footer {
    font-size: 14px;
  }
}

.text-links-icon {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .text-links-icon {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .text-links-icon {
    padding: 0 20px;
    display: block;
    font-size: 14px;
  }
}
.elementos-footer-centro-2 {
  width: auto;
  height: 106px;
  background: #e53733;
  text-align: center;
  padding-top: 18px;
}
.elementos-footer-centro-3 {
  width: auto;
  height: 106px;
  background: #4eb9a7;
  text-align: center;
  padding-top: 18px;
}
.elementos-footer-centro-4 {
  width: auto;
  height: 106px;
  background: #404b5a;
  text-align: center;
  padding-top: 18px;
}

.ocultar-mobile {
  display: block !important;
}
@media only screen and (max-width: 1199px) {
  .ocultar-mobile {
    display: none !important;
  }
}
.mostrar-mobile {
  display: none !important;
}
@media only screen and (max-width: 1199px) {
  .mostrar-mobile {
    display: block !important;
  }
}

.texto-aliados-footer2 {
  margin-left: auto !important;
  color: #fff !important;
}

/* inicio bloque grande footer*/

@media only screen and (max-width: 1024px) {
  . div#footer-enlaces.container {
    margin-top: 25 !important;
  }
}
@media only screen and (max-width: 500px) {
  . div#footer-enlaces.container {
    margin-top: 0 !important;
    margin-bottom: 9px !important;
  }
}
@media only screen and (max-width: 425px) {
  a#cuadro1 {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  a#cuadro2 {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  a#cuadro3 {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  a#cuadro4 {
    width: 100%;
  }
}
.ocultar-mobile {
  display: block !important;
}
@media only screen and (max-width: 1199px) {
  .ocultar-mobile {
    display: none !important;
  }
}
.mostrar-mobile {
  display: none !important;
}
@media only screen and (max-width: 1199px) {
  .mostrar-mobile {
    display: block !important;
  }
}
div#footer-enlaces {
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  div#footer-enlaces {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 425px) {
  div#footer-enlaces {
    padding: 0;
  }
}
div#main-footer {
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  div#main-footer {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 425px) {
  div#main-footer {
    padding: 0;
  }
}
.elementos-footer-centro-1 {
  width: auto;
  height: 106px;
  background: #404b5a;
  text-align: center;
  padding-top: 18px;
}
.visita-footer {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  .visita-footer {
    font-size: 14px;
  }
}
.footer-link-cuadros:hover {
  text-decoration: none;
}
.text-links-icon {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .text-links-icon {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .text-links-icon {
    padding: 0 20px;
    display: block;
    font-size: 14px;
  }
}
.elementos-footer-centro-2 {
  width: auto;
  height: 106px;
  background: #e53733;
  text-align: center;
  padding-top: 18px;
}
.elementos-footer-centro-3 {
  width: auto;
  height: 106px;
  background: #4eb9a7;
  text-align: center;
  padding-top: 18px;
}
.elementos-footer-centro-4 {
  width: auto;
  height: 106px;
  background: #404b5a;
  text-align: center;
  padding-top: 18px;
}
@media only screen and (max-width: 425px) {
  .footer-estilos {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .footer-salas {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .footer-dormitorios {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .footer-infantil {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .footer-servicios {
    text-align: center;
  }
}
.titulo-footer-categorias {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #4a4a54;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 7px;
}
a.titulo-footer-categorias:hover {
  text-decoration: none;
  color: #496080;
}
.margen-p-categorias {
  margin: 0;
  /* @media only screen and (max-width: 425px) {
		 margin-bottom: 11px;
	}
	 */
}
li.item-contenido-footer-categorias {
  list-style: none;
}
.contenido-footer-categorias {
  margin-left: 0;
}
@media only screen and (max-width: 425px) {
  .contenido-footer-categorias {
    display: none;
  }
}
.contenido-footer-categorias00 {
  margin-left: 0;
}
@media only screen and (max-width: 425px) {
  .footer-decoracion {
    margin-bottom: 28px;
  }
}
.footer-text-titulo-info1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #404b5a;
}
@media only screen and (max-width: 500px) {
  .footer-text-titulo-info1 {
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}
.footer-text-titulo-info2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #404b5a;
}
@media only screen and (max-width: 500px) {
  .footer-text-titulo-info2 {
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}
.footer-text-titulo-info3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #404b5a;
}
@media only screen and (max-width: 500px) {
  .footer-text-titulo-info3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}
.footer-text-titulo-info4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #404b5a;
  margin-bottom: 8px;
}
@media only screen and (max-width: 500px) {
  .footer-text-titulo-info4 {
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 425px) {
  .footer-enlaces {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 425px) {
  .footer-financiamiento {
    margin-top: 30px;
    text-align: center;
  }
}
.footer-indice-financiamiento {
  margin-left: 0;
}
@media only screen and (max-width: 425px) {
  .footer-indice-financiamiento {
    display: none;
  }
}
.footer-item-financiamiento {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #404b5a;
}
li.footer-item-financiamiento {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #404b5a;
  list-style: none;
}
a.footer-link-financiamiento:hover {
  text-decoration: none;
  color: #496080;
}
@media only screen and (max-width: 425px) {
  .footer-contactanos {
    text-align: center;
  }
}
.footer-indice-contactanos {
  margin-left: 0;
}

.footer-item-cantactanos{
color: #404B5A;
font-family: Geomanist;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
list-style: none;
}
.footer-item-cantactanos b{
color: #404B5A;
font-family: lato;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
text-transform: uppercase;
}
.footer-item-cantactanos p{
color: #404B5A;
font-family: lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}
a.footer-link-contactanos:hover {
  text-decoration: none;
  color: #496080;
}
@media only screen and (max-width: 425px) {
  .footer-empresa {
    text-align: center;
  }
  .ajust-footer-0{
    padding: 2px 0 0 17px!important;
  }
  #headingFour{
      border-bottom: none;
  }
  .ajust-footer-1{
    padding:0 !important;
  }

}

  .adj-footer-2 p{
    font-size:12px!important;
  }
.footer-indice-empresa {
  margin-left: 0;
}
.footer-item-empresa {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #404b5a;
}
@media only screen and (max-width: 500px) {
  .footer-item-empresa {
    line-height: 20px;
  }
}
li.footer-item-empresa {
  list-style: none;
}
a.footer-link-empresa {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #404b5a;
}
a.footer-link-empresa:hover {
  text-decoration: none;
  color: #496080;
}
@media only screen and (max-width: 425px) {
  .footer-servicio-cliente {
    text-align: center;
  }
}
.footer-indice-servicio-cliente {
  margin-left: 0;
}
.footer-indice-servicio-cliente {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #4a4a54;
}
@media only screen and (max-width: 500px) {
  .footer-indice-servicio-cliente {
    line-height: 20px;
  }
}
li.footer-indice-servicio-cliente {
  list-style: none;
}
a.footer-link-servicio-cliente {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #404b5a;
}
a.footer-link-servicio-cliente:hover {
  text-decoration: none;
  color: #496080;
}
li.item-contenido-footer-categorias1 {
  list-style: none;
}
@media only screen and (max-width: 500px) {
  li.item-contenido-footer-categorias1 {
    display: none;
  }
}
.contenido-footer-categorias1 {
  margin-left: 0;
}
li.item-contenido-footer-categorias2 {
  list-style: none;
}
span.text-footer-servicios {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #202833;
}
span.text-footer-servicios:hover {
  color: #496080;
}
a.link-footer-categorias {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #404b5a;
}
a.footer-link-financiamiento {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #404b5a;
}
a.footer-link-financiamiento:hover {
  text-decoration: none;
  color: #496080;
}
a.footer-link-contactanos {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #404b5a;
}

/*revisar estos dos*/
/* depurado hasta aqui */
a.footer-link-contactanos:hover {
  text-decoration: none;
  color: #496080;
}
a.footer-indice-servicio-cliente {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #404b5a;
}
a.footer-indice-servicio-cliente:hover {
  text-decoration: none;
  color: #496080;
}
a.link-footer-categorias:hover {
  text-decoration: none;
  color: #496080;
}
@media only screen and (max-width: 1199px) {
  .footer-redes-sociales-jamar {
    justify-content: center;
  }
}
ul.footer-redes-sociales-jamar {
  display: flex;
  margin: 0;
}
li.footer-item-redes-sociales-jamar {
  list-style: none;
  margin-right: 5px;
  margin-top: 60px;
}
@media only screen and (max-width: 1199px) {
  li.footer-item-redes-sociales-jamar {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
a.footer-btn-redes-jamar:hover img {
  filter: invert(2);
}
.footer-text-aliados {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #4a4a54;
  text-align: left;
}
@media only screen and (max-width: 425px) {
  .footer-text-aliados {
    text-align: center;
    margin-left: 0;
  }
}
.container.cont-medios-pago {
  padding: 0 16px 16px;
  margin-bottom: 0 !important;
}
p.footer-text-aliados {
  margin-bottom: 15px;
  margin-left: 50px;
}
@media only screen and (max-width: 1199px) {
  p.footer-text-aliados {
    margin-left: 0;
    text-align: center;
  }
}
img.footer-img-camara-comercio {
  margin-left: 50px;
}
@media only screen and (max-width: 1199px) {
  img.footer-img-camara-comercio {
    width: 135px;
    margin-left: 0;
    margin-bottom: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-text-pagos {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
@media only screen and (max-width: 899px) {
  .footer-text-pagos {
    width: 141px;
    margin: 0 auto;
    display: block;
    float: none;
  }
}

@media only screen and (max-width: 430px) {
  .footer-text-pagos {
    text-align: center;
  }
}
@media only screen and (max-width: 899px) {
  .footer-image-medios-pagos {
    width: 440px;
    margin: 0 auto 20px auto;
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .footer-image-medios-pagos {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}
img.footer-item-medios-pagos {
  margin-right: 20px;
}
@media only screen and (max-width: 1199px) {
  img.footer-item-medios-pagos {
    height: auto;
    margin: 6px 10px;
    width: 52px;
  }
}
@media only screen and (max-width: 500px) {
  div#footer-derechos-jamar {
    padding-top: 34px;
  }
}
.footer-text-copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin-left: 110px;
}
@media only screen and (max-width: 425px) {
  .footer-text-copyright {
    text-align: center;
    margin: 0;
    margin-top: -15px;
  }
}

.footer-text-nit {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin-left: 42px;
}
@media only screen and (max-width: 425px) {
  .footer-text-nit {
    text-align: center;
    margin-left: 0;
  }
}
.footer-text-informacion {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    margin-left: 42px;
}
@media only screen and (max-width: 1199px) {
  .footer-text-informacion {
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
}
.footer-text-direccion {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  margin-right: 110px;
}
@media only screen and (max-width: 1199px) {
  .footer-text-direccion {
    text-align: center;
    margin-right: 0;
  }
}
@media only screen and (max-width: 375px) {
  .footer-text-direccion {
    margin-top: 0px;
  }
}
.footer-link-direccion-jamar {
  color: #fff;
  font-family: Lato;
}
.footer-link-direccion-jamar:hover {
  text-decoration: none;
  color: #fff;
}
.site-footer {
  position: relative;
  z-index: 0 !important;
}
@media only screen and (min-width: 768px) {
  .site-footer {
    z-index: 0;
  }
}
.main-footer {
  background-color: #eee;
  color: #000;
}
.main-footer a {
  font-family: Lato;
  color: #4a4a54;
}
.main-footer .main-footer__footer-callus {
  background-color: #fff;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 5px;
  font-size: 12px;
  font-size: to-rem(12);
  padding: 12px 55px;
  border-radius: 11px;
  border-radius: to-rem(11);
}
@media only screen and (min-width: 768px) {
  .main-footer .main-footer__footer-callus {
    display: block;
    padding: 12px;
    padding: to-rem(12);
  }
}
.main-footer .main-footer__footer-callus img {
  width: 14px;
}
.main-footer .callus-container {
  margin-top: 20px;
  margin-top: to-rem(20);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main-footer .callus-container {
    display: none;
  }
}
.main-footer .main-footer__button-container {
  margin-top: 35px;
  margin-top: to-rem(35);
}
.main-footer .main-footer__footer-shipping {
  margin-top: 35px;
  margin-top: to-rem(35);
  margin-bottom: 25px;
  margin-bottom: to-rem(25);
}
.main-footer .main-footer__footer-shipping,
.main-footer .main-footer__footer-shipping--desktop {
  font-size: 12px;
  font-size: to-rem(12);
}
.main-footer .main-footer__footer-shipping a,
.main-footer .main-footer__footer-shipping--desktop a {
  font-size: 12px;
  font-size: to-rem(12);
  vertical-align: middle;
}
.main-footer .main-footer__footer-shipping .img-container,
.main-footer .main-footer__footer-shipping--desktop .img-container {
  width: 12px;
  width: to-rem(12);
  margin-right: 5px;
  margin-right: to-rem(5);
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .main-footer .main-footer__footer-shipping,
  .main-footer .main-footer__footer-shipping--desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main-footer .main-footer__footer-shipping--desktop {
    display: block;
  }
  .main-footer .main-footer__footer-shipping--desktop img {
    width: 14px;
  }
}

/* aqui ota e*/

.footer-navigation__nav-title .icon {
  height: auto;
  font-size: 10px;
  font-size: to-rem(10);
  font-weight: bold;
  margin-top: -6px;
  margin-top: to-rem(-6);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: auto;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .footer-navigation__nav-title .icon {
    display: none;
  }
}
.footer-navigation__nav-title--active .icon {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.footer-navigation__nav-list {
  font-size: 14px;
  font-size: to-rem(14);
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer-navigation__nav-list {
    display: block;
  }
}
.main-footer__social-icons {
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main-footer__social-icons {
    text-align: left;
  }
}
.main-footer__social-icons li {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 11px;
  border-radius: to-rem(11);
  display: inline-block;
  padding: 12px;
  padding: to-rem(12);
  text-align: center;
  margin-right: 0px;
  margin-right: to-rem(0);
}
.main-footer__social-icons li + li {
  margin-left: 10px;
  margin-left: to-rem(10);
}
.main-footer__social-icons a {
  display: block;
}
.main-footer__footer-logo-text {
  font-size: 14px;
  font-size: to-rem(14);
  line-height: 19px;
  line-height: to-rem(19);
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 768px) {
  .main-footer__footer-logo-text {
    margin-top: 12px;
    margin-top: to-rem(12);
  }
}
.main-footer__footer-logo-link__container {
  margin-top: 20px;
  margin-top: to-rem(20);
}
.main-footer__footer-logo-link {
  font-weight: 600;
  letter-spacing: 1px;
  letter-spacing: to-rem(1);
  line-height: 17px;
  line-height: to-rem(17);
  margin-right: 17px;
  margin-right: to-rem(17);
  text-transform: uppercase;
}
.main-footer__social-link {
  display: inline-block;
}
.main-footer__navigation .navigation-title {
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-size: to-rem(18);
  margin-bottom: 25px;
  margin-bottom: to-rem(25);
  font-weight: 900;
  letter-spacing: 0.8px;
  letter-spacing: to-rem(0.8);
  line-height: 17px;
  line-height: to-rem(17);
  text-transform: uppercase;
  position: relative;
}
.main-footer__navigation li {
  margin-bottom: 5px;
  margin-bottom: to-rem(5);
}
.main-footer__navigation .navigation-link {
  font-size: 16px;
  font-size: to-rem(16);
  letter-spacing: 0.3px;
  letter-spacing: to-rem(0.3);
  text-decoration: none;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .footer-navigation__contact-container {
    display: inline-block;
  }
}
.main-footer__contact-title {
  color: #fff;
  font-size: 16px;
  font-size: to-rem(16);
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-bottom: to-rem(20);
}
.main-footer__contact-number {
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-width: to-rem(1);
  display: block;
  font-size: 12px;
  font-size: to-rem(12);
  font-weight: 600;
  letter-spacing: 0.75px;
  letter-spacing: to-rem(0.75);
  line-height: 22px;
  line-height: to-rem(22);
  margin-bottom: 35px;
  margin-bottom: to-rem(35);
  margin-top: 15px;
  margin-top: to-rem(15);
  max-width: 160px;
  max-width: to-rem(160);
  padding-bottom: 6px;
  padding-bottom: to-rem(6);
  padding-left: 22px;
  padding-left: to-rem(22);
  padding-top: 6px;
  padding-top: to-rem(6);
  position: relative;
  text-align: center;
  text-decoration: none;
}
.main-footer__contact-number img {
  position: absolute;
  top: 11px;
  top: to-rem(11);
  left: 25px;
  left: to-rem(25);
}
.footer-copyright {
  background-color: #4a4a54;
  color: #fff;
  /* @include rem(12);
	 @include rem(14, &#39;
	line-height&#39;
	);
	 @include rem(30, &#39;
	padding-bottom&#39;
	);
	 @include rem(30, &#39;
	padding-top&#39;
	);
	 */
  height: 190px;
  padding-top: 10px;
  line-height: 1rem;
  font-size: 0.85714rem;
}
@media only screen and (max-width: 500px) {
  .footer-copyright {
    height: 245px;
  }
}
.footer-copyright span {
  opacity: 0.6;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  .footer-copyright {
    font-weight: 600;
  }
}
.footer-cont-seguridad {
  width: 221px;
  height: 30px;
  float: right;
  display: block;
  position: relative;
  margin: 15px 108px 0 0;
}
@media only screen and (max-width: 500px) {
  .footer-cont-seguridad {
    width: 221px;
    padding: 11px 0 0 0;
    float: none;
    margin: 0 auto;
  }
}
p.footer-text-seguridad {
  float: left;
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: Lato;
  margin: 5px 9px;
}
img.img-seguridad {
  width: 70px;
  height: auto;
  float: left;
  position: relative;
  display: block;
}
.main-navigation {
  background-color: #fff;
  display: none;
}
@media only screen and (min-width: 768px) {
  .main-navigation {
    background-color: transparent;
    display: block;
    padding: 0px;
    padding: to-rem(0);
  }
}
.main-navigation.slide-in {
  display: block;
  left: 0;
  overflow-y: hidden;
  right: 0;
  z-index: 10;
}
.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-navigation__list &gt;
li {
  display: block;
  margin: 0 !important;
  padding: 15px 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main-navigation__list &gt;
  li {
    border: 0;
    display: inline-block;
    padding: 0 10.5px;
    position: relative;
    text-align: inherit;
  }
}
.main-navigation__list &gt;
li:first-child {
  border-top: 0;
  margin-left: 0;
  padding-left: 0;
}
.main-navigation__list &gt;
li:last-child {
  border-bottom: 0;
  margin-right: 0;
  padding-right: 0;
}

/* fin blmoque grande footer */

/* inicio bloque grande epic*/

.img-camara-aliados-footer {
  margin-left: auto !important;
}
.footer-copyright2 {
  background: #404b5a !important;
}
@media only screen and (max-width: 428px) {
  .acordeon-footer {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 428px) {
  .car-footer-acordeon {
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-top-width: 0px !important;
    border-button-width: 1px solid #e9eae9;
  }
}
li.footer-item-redes-sociales-jamar {
  margin-top: 0px !important;
  margin-right: 16px;
}
@media only screen and (max-width: 428px) {
  li.footer-item-redes-sociales-jamar {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.footer-cont-seguridad {
  margin-right: 0px !important;
}
@media only screen and (max-width: 1199px) {
  .footer-cont-seguridad {
    margin: 0px auto !important;
    padding-top: 0px;
    float: none;
  }
}
.main-footer-button2 a {
  color: var(--credijamar-dark)!important;
  background-color: #fff !important;
  -webkit-transition: background-color 1s ease-in !important;
  transition: background-color 1s ease-in !important;
  -webkit-transition: border 1s ease-in !important;
  transition: border 1s ease-in !important;
  background-repeat: no-repeat;
  background-position: 8% 50%;
  text-decoration: none !important;
  border-radius: 30px !important;
  border: 1px solid var(--credijamar-extra-dark);
  font-weight: 600 !important;
  font-family: Lato;
  padding: 12px 15px 12px 40px;
}
.main-footer-button2 a:hover {
  background-color: rgba(78, 185, 167, 0.2) !important;
  border: 1px solid rgba(78, 185, 167, 0.2) !important;
}
.row-acordeon-footer {
  width: 48%;
  height: auto;
  display: block;
  margin: 36px 3% 230px;
  float: left;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .row-acordeon-footer {
    width: 100%;
    margin: 55px auto 100px;
    float: none;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 430px) {
  .row-acordeon-footer {
    float: right;
  }
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .row-acordeon-footer {
    margin-bottom: 50px;
  }
}

/* fin bloque grande epic*/

.informacion-footer-jamar-2 {
  width: 484px;
}
@media only screen and (max-width: 1199px) {
  .informacion-footer-jamar-2 {
    width: 100%;
    margin: 0 auto 15px;
  }
}

.direccion-footer-jamar-2 {
  width: 353px;
}
@media only screen and (max-width: 1199px) {
  .direccion-footer-jamar-2 {
    width: 100%;
    margin: 0 auto 30px !important;
  }
}

.collapse {
  border: 1.2px solid #d8232a;
  border-left-color: transparent;
  border-top-color: transparent;
  display: inline-block;
  padding: 2px;
  padding: to-rem(2);
  transform: rotate(45deg);
  transition: 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .collapse {
    position: absolute;
    right: 25.5px;
    right: to-rem(25.5);
    margin-top: 44px;
    margin-top: to-rem(44);
  }
}
.collapse--closed {
  transform: rotate(-135deg);
}
.order-history__table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  white-space: nowrap;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .order-history__table {
    background-color: transparent;
  }
}

.boton-footer-movil {
  padding: 0px;
  background: none;
  box-shadow: none !important;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 700;
  color: #404b5a;
  width: 100%;
}

#footer-mobile1
  #accordionExample
  .card
  .card-header
  [aria-expanded="&#34;
false&#34;"]
  i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#footer-mobile1
  #accordionExample
  .card
  .card-header
  [aria-expanded="&#34;
true&#34;"]
  i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nit-footer-jamar-2 {
  width: 477px;
  margin-bottom: 25px;
  text-align: right !important;
  margin-right: 110px !important;
  margin-left: auto !important;
}

